.keyboard-row1 {
    margin-bottom: 8px;
    
}
.keyboard-row2 {
    margin-bottom: 8px;
    margin-left: 10px;

}
.keyboard-row3 {
    margin-bottom: 8px;
    margin-left: 0px;
    
}
.all-keyboard {
   margin-top: 30px;
   width: 100%;
   text-align: center;
}
.gallow {
    text-align: left;  
}

.char-btn {
    width: 50px;
    height: 50px;
    font-size: larger;
}

#player-gallow {
    margin-left: 200px;
} 

.wordblankltrs {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 40px;
    width: 40px;
    margin-right: 2px;
}

#word-blanks {
    margin-top: -25px;
    padding-bottom: 30px;

}